extends layout

block content
	.row
		.col-xs-12
			img(src='img/logo.png')
			p #{title} is an intelligent car assistant, it connect with other Rovers and form a network, which can help you make decisions and crowdsource traffic and air pollution data.

	a(href='#', onclick='listenCommand()')
		.row
			.col-xs-3.listen
				p#listen Listen
			.col-xs-9.command
				p #[span#int Press the button and then speak to #{title}] #[span#final]

	.row.top.bottom
		.col-xs
			h2 Traffic
			img(src='img/traffic.png')
		.col-xs
			h2 Air Pollution
			img(src='img/pollution.png')
block scripts
	script(src='https://code.jquery.com/jquery-2.2.1.min.js', integrity='sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=', crossorigin='anonymous')
	script(src='javascripts/jarvis.js')
