body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #000;
	text-decoration: none;
}

/* listen button */
.listen {
	border: 3px solid #000;
	background-color: #000;
	color: #fff;
	text-align: center;
}

/* command window */
.command {
	border: 3px solid #000;
}

/* grid system */
.row .col-xs {
	height: 200px;
}

.top .col-xs{
	margin-top: 20px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.bottom .col-xs{	
	border-bottom: 1px solid #000;
}

.left {
	border-left: 1px solid #000;
}

.right {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}
